#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographImg img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.media{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4rem;
    justify-items: center;
}
.media article{
    height: 300px;
    width: 300px;
}
.media article span{
    color: #901C1C;
    font-size: 24px;
}
.media img, video{
    height: 250px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.dropbtn {
    background-color: #901C1C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 110px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #901C1C;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 38%;
    width: 110px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
#contact_modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    top: 25%;
    position: relative;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}